p
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    margin: 0;
    background-color: gray;
}
/* MENU layout */
#menu
{
    background-color: orangered;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    
}
.menu-list
{
    padding-left: 0;
    margin: auto 16px;
}
.menu-item
{
    color: white;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* FORM layout */
.form
{
    padding: 20px;
    margin: 36px auto 0 auto;
    width: 80%;
    height: 140px;
    background-color: white;
}
.form-login
{
    padding: 20px;
    display: flex;
}
.form-label
{
    min-width: 80px;
}
.form-input
{
    flex: 1;
}
/* Three column layout */
.threecolumn
{
    margin-top: 30px;
    background-color: white;
    width: 100%;
    height:auto;
    display: flex;
}
.column
{
    padding: 0 16px;
}
.column1
{
    flex: 2;
}
.column2
{
    flex: 3;
}
.column3
{
    flex: 1;
}
/* Three feature layout */
.threefeature
{
    display: flex;
    min-height: auto;
    margin-top: 36px;
    justify-content: space-around;
    margin-bottom: 36px;
}
.feature
{
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}
.ft1
{
    background-color: cadetblue;
}
.ft2
{
    background-color: violet;
}
.ft3
{
    background-color: yellowgreen;
}
/* Five box layout */
.fivebox
{
    background-color: #fff;
    display: flex;
    min-height: 180px;
    justify-content: space-around;
    margin-top: 36px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.box
{
    margin-top: 20px;
    margin-bottom: 18px;
    flex-basis: 15%;
    background-color: orangered;
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 30px;
}
